body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, freesans, sans-serif;
}

#topbar {
    background-color: black;
    border: 1px solid #666;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    
}

#logo {
    margin: 8px 15px 8px 50px;
    width: 85px;
    float: left;
}

.topbar-section {
    float: left;
    border-left:  1px solid #666;
    height: 100%;
    color: white;
}

#signin-image {
    margin: 9px 15px 8px 12px;
    float: left;
}

#signin-text {
    padding-right: 80px;
    font-weight: bold;
    font-size: 85%;
    position: relative;
    top: 10px;
    left: -7px;
}

.topbar-menu {
    font-weight: bold;
    font-size: 80%;
    padding: 12px 20px 0px 20px;
    height: 28px;
}

#menu-more {
    position: relative;
    top: -10px;
}

#arrow-image {
    position: relative;
    top: -3px;
    left: 40px
    
}

